<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': loveIts > 0,
                'list-group-item-danger': loveIts < 0 }">

  <p class="date"> {{ date }}</p>

  <h4> {{ title }} </h4>

  <p> {{ content }} </p>

  <button class="btn btn-success" (click)="onlikes()" > Love it ! <span class="badge badge-light"> {{loveIts}}</span></button>
  <button class="btn btn-danger" (click)="onDislikes()"> Don't love it !</button>

  <button class="btn btn-primary" (click)="ondelete()">Suppression</button>

</li>
